{% extends "base.html" %}

{% block main %}
<div id="content" class="wideforum">

  <div class="nav"><a href="{{root}}/admin">Administrative Panel</a> &raquo; <a href="{{root}}/admin/topics">Latest Topics</a></div>

  {% include "admin_side.html" %}

  <div id="main">

    <h3>Latest Topics</h3>
    <table class="list">
    {% if list %}
    {% for item in list %}
      <tr><td class="time">{{item.created|minitime}}</td><td class="desc">{{item.title}}</td><td class="rest">{{item.author}}</td><td class="del"><a href="delete" onclick="deltopic('{{item.topicid}}'); return false;" title="Delete">&#8855;</a></td></tr>
    {% endfor %}
    {% else %}
      <tr><td colspan="4">No users registered yet.</td></tr>
    {% endif %}
    </table>

  </div>
</div>
{% endblock %}
{% block script %}
<script>

function deltopic(tid){
  evt=window.event
  ok=confirm('Are you sure you want to delete this topic and all its messages?')
  if(ok){
    ajax('/forum/admin/topics?id='+tid,ondelete,evt.target)
  }
}

function ondelete(res,target){
  data=eval('data='+res);
  if(data.error){ alert(error); return; }
  if(data.ok){
    tr=target.parentNode.parentNode; /* a.td.tr */
    tr.parentNode.removeChild(tr)
  }  
}

function ajax(url,callback,target){
  var http = new XMLHttpRequest();
  http.open("DELETE",url,true);
  http.onerror=function(){callback("{'error':'Unknown error from server'}",target);};
  http.onreadystatechange=function(){if(http.readyState==4){callback(http.responseText,target);}};
  http.send();
}

</script>
{% endblock %}
