{% extends "base.html" %}

{% block main %}
<div id="content" class="wideforum">
  
  <h2 class="forum_title">{{userid}}</h2>
  <h3 class="forum_desc">Edit your profile</h3>

  <div class="nav"><a href="{{root}}">Forum</a> &raquo; <a href="{{root}}/profile/{{userid}}">Profile</a></div>

  {% if user %}
  <p>User ID:  {{userid}}</p>
  <p>Nickname: {{user.nickname}}</p>
  <p>Admin:    {{user.isadmin}}</p>
  <p><a href="{{logout}}">Logout &raquo;</a></p>
  {% else %}
  <h3>User suspended or not found in our database</h3>
  {% endif %}

</div>
{% endblock %}
