{% extends "base.html" %}

{% block main %}
<div id="content" class="wideforum">


  <h2 class="forum_title">{{forum.title}}</h2>
  <h3 class="forum_desc" >{{forum.description}}</h3>

  <div class="nav"><a href="{{root}}">Forum</a> &raquo; <a href="{{root}}/{{forum.forumid}}">{{forum.title}}</a></div>
  <table class="forum">
    <colgroup>
      <col class="col1"/>
      <col class="col2" style="text-align:center"/>
      <col class="col3" align="center"/>
      <col class="col4"/>
    </colgroup>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th align="center">Messages</th>
        <th align="center">Visits</th>
        <th>Last Message</th>
      </tr>
    </thead>
    <tbody>
    {% if list %}
      {% for item in list %}
      <tr>
        <td>
          <h4><a href="{{root}}/{{item.forumid}}/{{item.topicid}}">{{item.title}}</a></h4>
          <p>Started by {{item.author}}</p>
        </td>
        <td align="center">{{item.nmessages}}</td>
        <td align="center">{{item.nviews}}</td>
        <td>{{item.updated|timeago}}<br> by {{item.lastuser}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td><h4>No topics opened in this forum</h4><p>To open a new topic click the button below</p></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  {% if login.logged %}
  <button class="abutton" onclick="window.location.href='{{root}}/newtopic/{{forum.forumid}}'">New Topic</button>
  {% else %}
  <p><a href="{{login.url}}">To post new topics you must be logged in</a> &raquo;</p>
  {% endif %}
</div>
{% endblock %}
